<p-table [lazy]="true" (onLazyLoad)="sort($event)"
         [columns]="cols"
         [value]="books"
         [customSort]="true" [(selection)]="selectedBooks"
         (selectionChange)="selectionChange($event)"
         selectionMode="multiple"
         dataKey="id"
         [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem">
      </th>
      <th *ngFor="let column of columns"
          [pSortableColumn]="column.field">{{column.header}} <p-sortIcon [field]="column.field" ></p-sortIcon>
      </th>
      <th [pSortableColumn]="'status'">Status <p-sortIcon [field]="'status'" ></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td>
        <p-tableCheckbox [value]="rowData" [index]="rowIndex"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        {{rowData.numberOfCopies > 0 ? 'Available': 'Unavailable'}}
      </td>
      <td>
        <button class="button-link" (click)="onView(rowData)">View</button>
        <button class="button-link" (click)="onEdit(rowData)" >Edit</button>
        <button class="button-link" (click)="onDeleteConfirmation(rowData)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  [rowsPerPageOptions]="[10,20,50]"
  [rows]="rows" [totalRecords]="total"
  (onPageChange)="paginate($event)"></p-paginator>
