/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
//
//* {
//  margin: 0;
//  padding: 0;
//}

html {
  /*font-size: 10px;*/
  /* Percentage of users browser font-size setting */
  font-size: 62.5%; /* 10px / 16px = 0.625 */

  @media (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  color: #484848;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 0;
}

.box-view {
  padding: 2rem;
  height: auto;
  background-color: #eee;

  &__container {
    padding: 4rem;
    background-color: white;
    height: 90%;

    h1 {
      font-weight: 600;
    }
  }

  .form-label {
    display: flex;
    font-size: 1.4rem;
    width: 5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    text-wrap: nowrap;
  }
}

.button {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  padding: 1.2rem 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  margin: 2rem 1.2rem 0 0;
  border: none;
  transition: all .2s;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--tertiary-color-dark);
  }
}

.button-link {
  font-size: 1.3rem;
  text-decoration: none;
  border: none;
  background: none;
  color: var(--buttons-color);
  cursor: pointer;
  font-family: Montserrat, sans-serif;

  &:hover {
    color: var(--buttons-color-secondary);
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }

}

ul {
  padding: 0;
}

.cancel-button {
  margin-left: 1.3rem;
  background: none;
  border: 1px solid var(--buttons-color);
  margin-top: 2rem;
  padding: 1.3rem 1.9rem;
  border-radius: 7px;
  font-size: 1.4rem;
  font-weight: 400;
  //border: none;
  color: var(--primary-color);
  transition: all .2s;

  &:hover {
    background-color: #f5f1f1;
  }

  &:active {
    background-color: #e5e0e0;
  }
}

.audit-button, .delete-button {
  font-size: 1.4rem;
  color: rgba(28, 27, 27, 0.85);
  font-weight: 500;
  padding: 1.2rem 2rem;
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 4px;
  transition: all .2s;
  margin: 2rem 1.2rem 0 0;
  background-color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    color: var(--buttons-color);
    background-color: rgba(61, 135, 229, .2);
    border-color: rgba(61, 135, 229, .2);
  }

  &:active {
    color: rgba(61, 135, 229, .4);
    background-color: rgba(61, 135, 229, .25);
  }
}

.delete-button {
  background-color: #ce6c6c;
  color: #fff;
  border: none;

  &:hover {
    background-color: rgba(206, 108, 108, 0.92);
    color: #fff;
  }
}

.reset-button {
  font-size: 1.4rem;
  color: rgba(28, 27, 27, 0.85);
  font-weight: 500;
  padding: 1.2rem 2rem;
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 4px;
  transition: all .2s;
  margin-top: 2rem;
  background-color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;

  &:hover {
    color: var(--buttons-color);
    background-color: rgba(61, 135, 229, .2);
    border-color: rgba(61, 135, 229, .2);
  }

  &:active {
    color: rgba(61, 135, 229, .4);
    background-color: rgba(61, 135, 229, .25);
  }
}

.error-message {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.closed-status, .progress-status {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: .7rem 1.2rem;
}

.closed-status {
  color: #909399;
  background-color: rgba(144, 147, 153, 0.1);
}

.progress-status {
  color: #67c23a;
  background-color: rgba(103, 194, 58, 0.1);
  text-wrap: nowrap;
}

.loading-box {
  margin-top: 3rem;
  text-align: center;
}

.center-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-box {
  @media (max-width: 35em) {
    display: flex;
    flex-direction: column;
  }


  .button {
    @media (max-width: 25em) {
      margin-right: 0;
    }
  }
}

.p-datatable .p-datatable-tbody > tr > td, .p-datatable .p-datatable-thead > tr > th {
  text-wrap: nowrap;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.4rem;
}

.p-confirm-dialog .p-dialog-content {
  font-size: 1.2rem;
  font-weight: 500;
}

.p-dialog .p-dialog-footer button {
  font-family: Montserrat, sans-serif;
  font-size: 1.05rem;
  margin: 0 .7rem 0 0;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
}
