<form [formGroup]="form" class="credentials-form">
  <h2>Password Settings</h2>
  <div class="form-group">
    <label class="credentials-form__label" for="email">Email</label>
    <input type="email" email="true" id="email" class="form-input" formControlName="email" pInputText>
    <p class="error-message"
       *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
    >
      Please enter a valid email.
    </p>
  </div>

  <button type="submit" class="password-button" [disabled]="!form.valid" >Send password reset email</button>

  <button type="button" class="cancel-button" (click)="onMainRedirect()">Cancel</button>

</form>
