.edit-profile-view {
  padding: 2rem;
  //height: 100%;
  background-color: #eee;

  .edit-profile-container {
    padding: 4rem;
    background-color: white;
    height: 90%;

    .form-container {
      height: 100%;

      h1 {
        font-weight: 600;
      }

      .button {
        margin-right: .5rem;
      }

      form {
        padding: 5rem;

        .form-group {
          margin-bottom: 3rem;

          .error-message {
            margin-top: 1rem;
            font-size: 1.2rem;
          }

          .label-box {
            margin-bottom: .8rem;

            label {
              font-size: 1.4rem;
              margin-right: 1rem;
              font-weight: 500;
            }

          }

          .form-input {
            font-size: 1.4rem;
            height: 4.2rem;
            padding-left: 1.5rem;
            width: 40%;
            border-radius: 7px;
          }

        }
      }

    }

  }

  .upload-img {
    margin-bottom: 5rem;
  }

}

:host ::ng-deep {
  .p-inputtext {
    font-size: 1.4rem;
    height: 4.2rem;
    padding-left: 1.5rem;
    width: 40%;
    border-radius: 7px;
    border: 1px solid var(--buttons-color);
  }

  .p-inputtext:enabled:hover {
    border: 1px solid var(--buttons-color-secondary);
  }
}

:host ::ng-deep {
  .p-button-label {
    font-size: 1.4rem;
  }
}

:host ::ng-deep {
  .p-component {
    img, svg {
      width: 100%;
    }
  }
}

:host ::ng-deep {
  .p-fileupload, .p-fileupload-row > div {
    //margin-bottom: 15rem;
    font-size: 1.4rem;
  }
}
