:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    font-size: 1.4rem;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    font-size: 1.3rem;
  }

  .p-paginator {
    margin-top: 1.5rem;
  }

  .p-paginator, .p-paginator-pages, .p-paginator-page {
    font-size: 1.2rem;
  }
}

