<div class="box-view">

  <div class="box-view__container">

    <h1>Loans</h1>
    <button *appRole="['Admin', 0]" type="button" routerLink="new" class="button"><i class="pi pi-plus"></i>New</button>
    <button *appRole="['Admin', 0]" type="button" class="delete-button" [class.p-disabled]="loansSelection.length === 0" (click)="onDeleteButton()" >
      <i class="pi pi-trash"></i>Delete</button>
    <button *appRole="['Admin', 0]" type="button" routerLink="/audit-logs" class="audit-button" ><i class="pi pi-history"></i>Audit Logs</button>
    <button type="button" class="audit-button" (click)="exportFile()"><i class="pi pi-file-excel"></i>Export to Excel</button>

    <ng-container *ngIf="store.state$ | async as state">
     <div class="loan-container">
       <app-loans-form
         [formValue]="state.params"
       (searchQuery)="searchParams($event)"></app-loans-form>
     </div>

     <app-loans-table
       [rows]="state.params.pageSize"
       [total]="state.total"
       [books]="state.data"
       (paginationChanged)="paginate($event)"
       (loansSelection)="selectedLoans($event)"
       (sortChanged)="sort($event)"
       [loading]="state.loading">
     </app-loans-table>

    </ng-container>

  </div>

</div>
