<div class="box-view">

  <div class="box-view__container">
    <app-back-button></app-back-button>
    <h1>New User</h1>

    <div class="form-container">

      <form [formGroup]="form">

        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="text" id="email" class="form-input" formControlName="email" pInputText>
          <p class="error-message"
             *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
          >
            Please input a valid email.
          </p>
        </div>

        <div class="form-group">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" id="firstName" class="form-input" formControlName="firstName" pInputText>
          <p class="error-message"
             *ngIf="!form.get('firstName')?.valid && form.get('firstName')?.touched"
          >
            Please input a first name.
          </p>
        </div>

        <div class="form-group">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" id="lastName" class="form-input" formControlName="lastName" pInputText>
          <p class="error-message"
             *ngIf="!form.get('lastName')?.valid && form.get('lastName')?.touched"
          >
            Please input a last name.
          </p>
        </div>

        <div class="form-group">
          <label for="lastName" class="form-label">Username</label>
          <input type="text" id="username" class="form-input" formControlName="username" pInputText>
          <p class="error-message"
             *ngIf="!form.get('username')?.valid && form.get('username')?.touched"
          >
            Please input a username.
          </p>
        </div>

        <div class="form-group">
          <label class="form-label">Phone Number</label>
          <p-inputMask mask="(999) 999-9999" formControlName="phoneNumber" placeholder="(999) 999-9999"></p-inputMask>
          <p class="error-message"
             *ngIf="!form.get('phoneNumber')?.valid && form.get('phoneNumber')?.touched"
          >
            Please input a phone number.
          </p>
        </div>

        <div class="form-group">
          <label class="form-label">Role</label>
          <p-dropdown id="status" [options]="roles" optionLabel="label" formControlName="role" optionValue="value">
          </p-dropdown>
<!--          <p-multiSelect [options]="roles" optionValue="value" formControlName="roles" optionLabel="label"></p-multiSelect>-->
          <p class="error-message"
             *ngIf="!form.get('roles')?.valid && form.get('roles')?.touched"
          >
            Please input a role.
          </p>
        </div>

        <button type="submit" class="button" [class.p-disabled]="!form.valid" (click)="onSave()" >
         <span class="center-alignment">
              <i class="pi pi-spin pi-spinner" style="font-size: 1.4rem" *ngIf="isLoading"></i>
              <i class="pi pi-save" *ngIf="!isLoading"></i>
              Save
            </span>
        </button>

        <!--          {{ form.value | json }}-->

      </form>

  </div>

</div>
