.form-container {
  padding: 4rem;
  margin-bottom: 2rem;

  form {
    width: 100%;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .form-label {
        width: 22rem;
        margin-bottom: 1rem;
      }

      .book-status {
        font-size: 1.4rem;
        width: 50%;
      }
    }
  }
}

:host ::ng-deep {
  .p-inputtext {
    width: 50%;
    height: 4.2rem;
    font-size: 1.4rem;
    padding-left: 1.2rem;
  }

  .p-multiselect {
    width: 50%;
    height: 4.2rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }

  .p-multiselect-header {
    display: none;
  }

  .p-multiselect-item {
    column-gap: .5rem;
  }

  .p-multiselect-items {
    font-size: 1.4rem;
  }

  .p-chips {
    display: flex;
  }

  .p-chips-multiple-container .p-chips-input-token input {
    font-size: 1.4rem;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    padding-left: 1rem;
  }
}
