<div class="box-view">

  <div class="box-view__container">
    <app-back-button></app-back-button>
    <h1>View Loan</h1>

    <ng-container *ngIf="book$ | async as book ; else loading">

    <button type="button" class="button" routerLink="edit" *ngIf="book.status !== 'Closed'"><i class="pi pi-pencil"></i>Edit</button>
    <button type="button" class="delete-button" (click)="onDelete()" ><i class="pi pi-trash"></i>Delete</button>
    <button type="button" class="audit-button" routerLink="/audit-logs"><i class="pi pi-history"></i>Audit Logs</button>

      <div class="container-content">
        <p>ID: <span> {{book.id}} </span> </p>
        <p>Book: <span> {{book.book.title}} </span> </p>
        <p>Member: <span> {{book.user.email}} </span> </p>
        <p>Issue Date: <span> {{book.loanDate | date:'medium'}} </span> </p>
        <p>Due Date: <span> {{book.dueDate | date:'medium' }} </span> </p>
        <p>Status:
          <span [ngClass]="{ 'closed-status': book.status === 'Closed' || 'overdue', 'progress-status': book.status === 'inProgress'}">
            {{book.status === 'inProgress' ? 'In Progress' : book.status | titlecase }}
          </span>
        </p>
        <p>Created at: <span> {{book.createdAt | date:'medium'}} </span> </p>
        <p>Updated at: <span> {{book.updatedAt | date:'medium' }} </span> </p>

      </div>
    </ng-container>

    <ng-template #loading >
      <div class="loading-box">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </ng-template>

  </div>

</div>
