<div class="main-container">

  <div [@slideInOut]="menuState" class="main-container__sidebar">

    <a class="heading-link" routerLink="loan"> <p class="library-text">Library</p> </a>
    <ul class="links-list">
      <li [appRole]="['librarian', 'owner']" class="list-item"><a routerLinkActive="active" routerLink="audit-logs" class="sidebar-links"><i class="pi pi-history"></i>Audit Logs</a></li>
      <li [appRole]="['librarian', 'owner']" class="list-item"><a routerLinkActive="active" routerLink="settings" class="sidebar-links"><i class="pi pi-cog"></i>Settings</a></li>
      <li [appRole]="['librarian', 'owner']" class="list-item"><a routerLinkActive="active" routerLink="iam" class="sidebar-links"><i class="pi pi-users"></i>Users</a></li>
      <li class="list-item"><a routerLinkActive="active" routerLink="loan" class="sidebar-links"><i class="pi pi-id-card"></i>Loans</a></li>
      <li class="list-item"><a routerLinkActive="active" routerLink="book" class="sidebar-links"><i class="pi pi-book"></i>Books</a></li>
    </ul>

  </div>

  <div class="page-container">
    <header>

      <div class="side-click">
        <button (click)="toggleMenu()" class="button-switch">
          <i class="pi pi-bars" style="font-size: 2.4rem"></i>
        </button>
<!--        <div class="profile-details-box">-->
<!--          <p-megaMenu [model]="items" styleClass="user-panel">-->
<!--          </p-megaMenu>-->
<!--        </div>-->
      </div>

<!--      <div class="language-box">-->
<!--        <select class="custom-select" (change)="changeLang($event)" >-->
<!--          <option value="en" [selected]="lang === 'en'" >English</option>-->
<!--          <option value="de" [selected]="lang === 'de'">Deutsch</option>-->
<!--        </select>-->
<!--      </div>-->

      <div class="content">
        <ng-container *ngIf="nameChanges$ | async as name">
          <app-profile-avatar [displayedName]="name + ''" [avatarUrl]="avatar" ></app-profile-avatar>
          <div class="profile-details-box">
            <p-megaMenu [model]="items" styleClass="user-panel">
            </p-megaMenu>
          </div>
        </ng-container>
      </div>

    </header>

    <div class="page-view">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

